<div class="mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="d-flex align-items-center">
                <h1 style="flex: 1 1">
                    <i style="color: red" class="bi bi-hearts"></i>
                    TẠO BÀI H<i id="emoji" style="color: orange" class="bi bi-emoji-smile"></i>C
                </h1>
                <a href="/courses/me/manage" class="btn btn-dark">
                    <i class="bi bi-folder"></i> Quản lý
                </a>
            </div>
            <form method="POST" action="./store">
                <div class="mb-3">
                    <label for="floatingSelect">
                        Khoá học
                    </label>
                    <div class="form-floating">
                        <select
                            required
                            name="name"
                            class="form-select"
                            id="floatingSelect"
                            aria-label="Floating label select example"
                        >
                            <option value="" selected>
                                Mở menu để chọn
                            </option>
                            {{#each data}}
                            <option value="{{this.name}}">
                                {{this.title}}
                            </option>
                            {{/each}}
                        </select>
                        <label for="floatingSelect">
                            Lựa chọn khoá học
                        </label>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">
                        Tên bài học
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="title"
                        name="title"
                        autocomplete="off"
                    />
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">
                        Mô tả bài học
                    </label>
                    <textarea
                        type="text"
                        class="form-control"
                        id="desc"
                        name="desc"
                        autocomplete="off"
                    ></textarea>
                </div>
                <div class="mb-3">
                    <label for="videoId" class="form-label">
                        videoId
                    </label>
                    <input
                        type="text"
                        class="form-control"
                        id="videoId"
                        name="videoId"
                        autocomplete="off"
                    />
                </div>
                <button type="submit" class="btn btn-dark fw-bold">
                    <i class="bi bi-plus-square"></i>
                    Tạo bài học
                </button>
            </form>
        </div>
    </div>
</div>

<script>
    const emoji = document.querySelector('#emoji')
    //Set infinite loop emoji
    setInterval(() => {
        emoji.classList.toggle('bi-emoji-kiss')
    },500)
</script>